<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>pedestrian Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body class="text-white" style="background-color:rgb(38, 93, 177);">
    <div class="container">

        <h3 style="text-align:center;">pedestrian Data Used in Visualizations</h3>

        <table class="table table-bordered">
          <tr>
            <th scope="col">Pedestrian Intoxicated</th>
            <th scope="col">Injury Severity</th>
            <th scope="col">Age of Driver</th>
            <th scope="col">Driver Intoxicated</th>
            <th scope="col">Estimated Driver Speed</th>
            <th scope="col">Road Conditions</th>
          </tr>
          {% for pedestrian in pedestrian_info %}
          <tr>
            <td>{{ pedestrian["ped_alc_dr"] }}</td>
            <td>{{ pedestrian["crsh_sevri"] }}</td>
            <td>{{ pedestrian["drvrage_gr"] }}</td>
            <td>{{ pedestrian["drvr_alc_d"] }}</td>
            <td>{{ pedestrian["drvr_estep"] }}</td>
            <td>{{ pedestrian["rd_conditi"] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- Container -->

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
